body {
  font-size: 18px;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.banner__button {
  height: 45px;
  width: 150px;
  font-size: 19px;
  background-color: rgb(105, 197, 233);
  color: #fff;
  border: 1px solid rgb(39, 67, 90);
  border-radius: 15px;
  margin-bottom: 15px;
}

.banner__button:hover {
  box-sizing: border-box;
  border: 2px solid rgb(39, 67, 90);;
}

.banner__text {
  font-style: italic;
  width: 600px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 0px;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  transition: all 2s;
}
.banner__text--display {
  border-color: rgb(39, 67, 90);
  padding-top: 10px;
  padding-bottom: 10px;
  height: 200px;
}